<h2>Detection Zone Setup</h2>
<div *ngIf="!doneSet" #imgParentDiv width="100%">
  <canvas #imgCanvas (click)="onImageClick($event)">
    <img #camImg src="http://garageapiserv:5000/api/camera/get/image/{{camera.id}}"
       (load)="initImg()">
  </canvas>
</div>
<div *ngIf="doneSet">
  Rectangle: {{x1}},{{y1}} to {{x2}},{{y2}}
  <img src="{{sample_address}}" width="80%">
  <button type="button" class="btn btn-primary" (click)="sendCoordinates()">Keep</button>
  <button type="button" class="btn btn-primary" (click)="resetCoordinates()">Repeat</button>
  <button type="button" class="btn btn-primary" (click)="cancelCoordinates()">Cancel</button>
</div>
