<div class="col-sm-6">
  {{ newUserMessage }}
  <div *ngIf="userCreateDone==false">
    <form (ngSubmit)="onUserCreate()" novalidate class="form-signin">
      <h4> Create New User</h4>
      <input type="text" class="form-control" [(ngModel)]="newUser.username"
             name="Current Password" placeholder="Username" required="" autofocus="" />
      <br>
      <input type="password" class="form-control" [(ngModel)]="newUser.password"
             name="New Password" placeholder="Password" required="" />
      <br>
      <div class="row">
        <div class="col-sm-2">
          <input type="checkbox" class="form-control" [(ngModel)]="newUser.writeAccess"
                 name="Confirm New Password" placeholder="Confirm New Password" required="" />
        </div>
        <div class="col">
          Allow user write access (remove vehicle from list)
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <input type="checkbox" class="form-control" [(ngModel)]="newUser.adminAccess"
                 name="Confirm New Password" placeholder="Confirm New Password" required="" />
        </div>
        <div class="col">
          Allow user admin access (create/modify user accounts)
        </div>
      </div>
      <br>
      <button class="btn btn-primary btn-block"  name="Submit" value="Change Password" type="Submit">Create User</button>
    </form>
  </div>
  <div *ngIf="userCreateDone==true">
    <h5>Password change successful.</h5>
    <br>
    <a routerLink="/Settings"><button class="btn btn-primary">Done</button></a>
  </div>
</div>

