<div class="col-sm-4">
    {{ passwordChangeMessage }}
    <div *ngIf="changeDone==false">
          <form (ngSubmit)="onPasswordChange()" novalidate class="form-signin">
            <h4> Change Password</h4>
            <input type="password" class="form-control" [(ngModel)]="newPasswordForm.currentPassword"
                   name="Current Password" placeholder="Current Password" required="" autofocus="" />
            <br>
            <input type="password" class="form-control" [(ngModel)]="newPasswordForm.newPassword"
                   name="New Password" placeholder="New Password" required="" />
            <br>
            <input type="password" class="form-control" [(ngModel)]="newPasswordForm.newPasswordConfirm"
                   name="Confirm New Password" placeholder="Confirm New Password" required="" />
            <br>
            <button class="btn btn-primary btn-block"  name="Submit" value="Change Password" type="Submit">Change Password</button>
          </form>
      </div>
  <div *ngIf="changeDone==true">
    <h5>Password change successful.</h5>
    <br>
    <a routerLink="/"><button class="btn btn-primary">Done</button></a>
  </div>
</div>

