<br>
<div class="container">
<div class="row">
  <div class="col-2">
    <ul class="nav flex-column nav-pills">
      <li class="nav-item">
        <div *ngIf="changePasswordSelected == true">
          <div class="nav-link active">Change Password</div>
        </div>
        <div *ngIf="changePasswordSelected == false">
          <a class="nav-link" (click)="onTabSelect('changePassword')">Change Password</a>
        </div>
      </li>
      <li class="nav-item">
        <div *ngIf="auth.getAdminAccess() && newUserCreateSelected == true">
          <div class="nav-link active">Create New User</div>
        </div>
        <div *ngIf="auth.getAdminAccess() && newUserCreateSelected == false">
          <a class="nav-link" (click)="onTabSelect('newUser')">Create New User</a>
        </div>
      </li>
      <li class="nav-item">
        <div *ngIf="auth.getAdminAccess() && systemSettingsSelected == true">
          <div class="nav-link active">Edit User</div>
        </div>
        <div *ngIf="auth.getAdminAccess() && systemSettingsSelected == false">
          <a class="nav-link" (click)="onTabSelect('systemSettings')">Edit User</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-sm1">
  </div>
  <div class="col">
    <div *ngIf="changePasswordSelected == true">
      <app-settings-password-change></app-settings-password-change>
    </div>
    <div *ngIf="auth.getAdminAccess() && newUserCreateSelected == true">
      <app-settings-new-user></app-settings-new-user>
    </div>
    <div *ngIf="auth.getAdminAccess() && systemSettingsSelected == true">
      Placeholder
    </div>
  </div>
</div>
</div>
