<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
<form (ngSubmit)="onSearch()" novalidate class="form-signin">
  <h4>Vehicle Search</h4>
  <div class="row">
    <div class="col-sm-4">
      Start Date
    </div>
    <div class="col-sm-4">
      <my-date-picker name="StartDate" [options]="myDatePickerOptions"
                      [(ngModel)]="start_date_picker" ></my-date-picker>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      End Date
    </div>
    <div class="col-sm-4">
      <my-date-picker name="EndDate" [options]="myDatePickerOptions"
                      [(ngModel)]="end_date_picker" ></my-date-picker>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      Plate (Partial or Full)
    </div>
    <div class="col-sm-4">
      <input type="text" class="form-control" [(ngModel)]="searchModel.plate_substring"
             name="PlateSubstring"/>
    </div>
  </div><div class="row">
  <div class="col-sm-4">
    Note
  </div>
  <div class="col-sm-4">
    <input type="text" class="form-control" [(ngModel)]="searchModel.note"
           name="PlateSubstring"/>
  </div>
</div>
  <div class="row">
    <div class="col-sm-4">
      Display Thumbnail Images on Search Results
    </div>
    <div class="col-sm-4">
      <input type="checkbox" [(ngModel)]="searchModel.include_thumbnails" name="AdminAccess"/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <button class="btn btn-primary btn-block"  name="Submit" value="Search" type="Submit">Search</button>
    </div>
  </div>
</form>
<div *ngIf="searchResults != null">
  <div *ngIf="details == null">
    <br/>
    <div class="row">
      <div class="col">
        <h2>{{searchResults?.length}} Results Found</h2>
      </div>
    </div>
    <div class = "row">
      <div class="table">
        <table class="table table-striped">
          <thead>
          <tr>
            <th class="row-img">Image</th>
            <th class="row-plate">Plate</th>
            <th class="row-time">Time Read</th>
            <th class="row-time">Alert</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let vehicle of searchResults">
            <td>
              <div *ngIf="vehicle.image!=null" (click)="setDetails(vehicle)">
                <img src="http://192.168.1.99:5000/image/{{vehicle.image}}" class="plate-thumb">
              </div>
            </td>
            <td>
              <div class="row" (click)="setDetails(vehicle)">
                {{vehicle.plate}}
              </div>
              <div *ngIf="vehicle.note!=''" class="row h-75">
                <div class="card h-75 w-100">
                  <div class="card-block h-75 w-100">
                    <div [innerHTML]="vehicle.note"></div>
                  </div>
                </div>
              </div>
            </td>
            <td>{{vehicle.date_time | date: 'hh:mm a MM/dd/yy'}}</td>
            <td>
              <button *ngIf="vehicle.alerts" type="button" class="btn btn-danger">
                <i class="fa fa-bolt" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="details != null">
    <br/>
    <div class="container">
      <button type="button" class="btn btn-primary" (click)="setDetails(null)">
        <div class="fa fa-arrow-circle-left" aria-hidden="true">
          Return To Search Results
        </div>
      </button>
      <app-vehicle-details [vehicle_id]="details" (onCloseDetails)="setDetails(null)"></app-vehicle-details>
    </div>
  </div>
</div>
</div>
</body>
</html>
