<div class="container-fluid">
  <div *ngIf="details == null && event_details == null">
    <div class="card">
      <div class="row">
        <button class="btn btn-primary" (click)="customSearchButton()">Custom</button>
        <button class="btn btn-primary" (click)="daySearch(1)">Today</button>
        <button class="btn btn-primary" (click)="daySearch(7)">This Week</button>
      </div>
    </div>
    <form *ngIf="customSearch" (ngSubmit)="onSearch()" novalidate class="form-signin">
      <h4>Vehicle Search</h4>
      <div class="row">
        <div class="col-sm-4">
          Start Date
        </div>
        <div class="col-sm-4">
          <my-date-picker name="StartDate" [options]="myDatePickerOptions"
                          [(ngModel)]="start_date_picker" ></my-date-picker>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          End Date
        </div>
        <div class="col-sm-4">
          <my-date-picker name="EndDate" [options]="myDatePickerOptions"
                          [(ngModel)]="end_date_picker" ></my-date-picker>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          Plate (Partial or Full)
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" [(ngModel)]="searchModel.plate_substring"
                 name="PlateSubstring"/>
        </div>
      </div><div class="row">
      <div class="col-sm-4">
        Note
      </div>
      <div class="col-sm-4">
        <input type="text" class="form-control" [(ngModel)]="searchModel.note"
               name="PlateSubstring"/>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-4">
          Display Thumbnail Images on Search Results
        </div>
        <div class="col-sm-4">
          <input type="checkbox" [(ngModel)]="searchModel.include_thumbnails" name="AdminAccess"/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <button class="btn btn-primary btn-block"  name="Submit" value="Search" type="Submit">Search</button>
        </div>
      </div>
    </form>
  </div>
<div *ngIf="searchResults != null">
  <div *ngIf="details == null && event_details == null">
    <br/>
    <div class="row">
      <div class="col">
        <h2>{{searchResults?.length}} Results Found</h2>
      </div>
    </div>
    <div class = "row">
      <div class="table">
        <table class="table table-striped">
          <thead>
          <tr>
            <th class="row-img">Image</th>
            <th class="row-plate">Plate</th>
            <th class="row-time">Time Read</th>
            <th class="row-time">Alert</th>
            <th class="row-time">Event</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let vehicle of searchResults.slice(0, displayNumber)">
            <td>
              <div *ngIf="vehicle.image!=null" (click)="setDetails(vehicle)">
                <img src="http://garageapiserv:5000/image/{{vehicle.image}}" class="plate-thumb">
              </div>
            </td>
            <td>
              <div class="row" (click)="setDetails(vehicle)">
                {{vehicle.plate}}
              </div>
              <div *ngIf="vehicle.note!=''" class="row h-75">
                <div class="card h-75 w-100">
                  <div class="card-block h-75 w-100">
                    <div [innerHTML]="vehicle.note"></div>
                  </div>
                </div>
              </div>
            </td>
            <td>{{vehicle.date_time | date: 'hh:mm a MM/dd/yy'}}</td>
            <td>
              <button *ngIf="vehicle.alerts" type="button" class="btn btn-danger">
                <i class="fa fa-bolt" aria-hidden="true"></i>
              </button>
            </td>
            <td>
              <button (click)="setEventDetails(vehicle)">
                <i class="fa fa-info" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="details != null || event_details != null">
    <br/>
    <div class="container-fluid">
      <button type="button" class="btn btn-primary" (click)="resetAllDetails()">
        <div class="fa fa-arrow-circle-left" aria-hidden="true">
          Return To Search Results
        </div>
      </button>
      <div *ngIf="details != null">
        <app-vehicle-details [vehicle_id]="details.id" (onCloseDetails)="resetAllDetails()"></app-vehicle-details>
      </div>
      <div *ngIf="event_details != null">
        <app-event-details [event_id]="event_details.id" (onClose)="resetAllDetails()"></app-event-details>
      </div>
    </div>
  </div>
</div>
</div>
