<div class="container">
  <div *ngIf="details == null">
    <div class="row">
      <div class="col">
        <h4>Recent Vehicles</h4>
      </div>
    </div>
    <main *ngIf="!loading" class="row">
          <div class="table">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Image</th>
                <th>Plate</th>
                <th>Time Read</th>
                <th>Remove</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let vehicle of vehicleList">
                  <td>
                    <button type="button" class="btn btn-primary" (click)="setDetails(vehicle)">
                      <i class="fa fa-camera" aria-hidden="true"></i>
                    </button>
                  </td>
                  <td>{{vehicle.plate}}</td>
                  <td>{{vehicle.date_time | date: 'hh:mm MM/dd/yy'}}</td>
                  <td>
                      <button type="button" class="btn btn-primary" (click)="deleteVehicle(vehicle)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    </main>
  </div>
  <div *ngIf="details != null">
    <div class="container">
      <button type="button" class="btn btn-primary" (click)="setDetails(null)">
        <div class="fa fa-arrow-circle-left" aria-hidden="true">
          Return To List
        </div>
      </button>
      <app-vehicle-details [vehicle_id]="details"></app-vehicle-details>
    </div>
  </div>
</div>


